.header {
    display: flex;
    flex-direction: row;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: white;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);
    
}
.left-section {
    display: flex;
    flex-shrink: 0;
    width: 200px;
    align-items: center;
    margin-left: 15px;
}
.hamburger-icon {
    width: 25px;
    cursor: pointer;
}
.youtube-logo {
    width: 94px;
    margin-left: 30px;
    cursor: pointer;
}
.middle-section {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.search-bar{
    height: 36px;
    width: 0;
    flex:1;
    max-width: 360px;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(212, 212, 212);
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}
.search-bar::placeholder {
    padding-left: 16px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    font-family:roboto;
}
.search-button {
    padding-top: 5px;
    padding-bottom:5px;
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    margin-left:-1;
    border-color: rgb(212, 212, 212);
    cursor: pointer;
} 
.search-icons {
    width: 25px;
    margin-top: 2px;
}
.voice-search-button {
    border: none;
    background-color: rgb(248, 248, 248);
    margin-left: 10px;
    height: 36px;
    border-radius: 18px;
    cursor: pointer;
}
.voicesearch-icon {
    width: 25px;
}
.right-section {
    display: flex;
    width: 182px;
    flex-shrink: 0;
    margin-right: 20px;
    align-items: center;
    justify-content: space-between;
}
.upload-icon {
    width: 24px;
}
.upload-icon-container,
.youtube-apps-container,
.notification-container {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 20px;
    cursor: pointer;
}
.youtubeapps-icon {
    width: 24px;
}
.notification-icon {
    width: 24px;
}
.notification-container,
.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notification-count {
    position: absolute;
    right: 4px;
    top: 1px;
    background-color: red;
    color: white;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 10px;
    font-family: roboto,arial;
    font-size: 11px;
}
.notification-container .notification-tooltip,
.search-button .tooltip,.voice-search-button .tooltip,
.upload-icon-container .tooltip,.youtube-apps-container .tooltip
{
    position: absolute;
    background-color: rgb(110, 110, 110);
    color: white;
    font-size: 12px;
    font-weight: 400;
    font-family: roboto,arial;
    padding-top: 8px;
    padding-bottom:8px;
    padding-left: 8px;
    padding-right: 8px;
    bottom: -44px;
    border-radius:1px;
    opacity: 0;
    transition:opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
    cursor: pointer;

}
.notification-container:hover .notification-tooltip,
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-container:hover .tooltip
{
    opacity: 1;
}
.notification-container:active,
.search-button:active,
.voice-search-button:active,
.upload-icon-container:active,
.youtube-apps-container:active {
    background-color: rgb(216, 216, 216);;
}
.youtubechannel-profile {
    width: 32px;
    height: 32px;
    border-radius: 18px;
    margin-left: 4px;
}
.youtubechannel-profile:active {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(26, 119, 240);
}