.youtube-preview{
    cursor: pointer;
 }
 .thumbnail {
    position: relative;
 }
 
.thumbnail-1{
   width: 100%;
   margin-bottom: 10px;
}
.video-time {
   position: absolute;
   right: 6px;
   bottom: 18px;
   background-color: black;
   color: white;
   font-family: roboto,arial;
   font-size: 11px;
   font-weight: 500;
   padding-left: 2px;
   padding-right: 2px;
   padding-top:2px;
   padding-bottom: 2px;
   border-radius: 2px;
}
.Channel-pics{
   width: 40px;
   border-radius: 20px;
   vertical-align: top;
}
.channel-intro {
   display: grid;
   grid-template-columns: 40px 1fr;

}
.Video-topic{
   font-size: 15px;
   font-weight: 500;
   margin-bottom: 8px;
}
.channel-name,
.video-stats {
   font-size: 12px;
   color: rgb(92, 92, 92);
}
.youtube-grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr ;
   column-gap: 16px;
   row-gap: 50px;
}
@media(max-width:500px){
   .youtube-grid{
      grid-template-columns: 1fr;
   }
}
@media(min-width:501px) and (max-width:780px){
   .youtube-grid{
      grid-template-columns: 1fr 1fr;
   }
}
@media(min-width:781) and (max-width:999px){
   .youtube-grid{
      grid-template-columns: 1fr 1fr 1fr;
   }
}

@media(min-width:1000px){
   .youtube-grid{
      grid-template-columns: 1fr 1fr 1fr 1fr;
   }
}
